* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/************************ NavBar CSS  ******************/
.nav {
  background-color: black;
  height: 70px;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  
}

.nav_logo{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav_left,.nav_second {
  display: flex;
  margin-left: 15px;
}
.nav_second_left {
  color: slategray;
  font-weight: 600;
  font-size: medium;
  margin-left: 15px;
}

.nav_right:last-of-type {
  margin-left: auto;
}

.input_box{
  padding: 5px;
  /* width: 210px; */
  margin-right: 5px;
  border-radius: 5px;
  
  
}

.nav_icon,.nav_right {
  display: flex;
  align-items: center;
  margin-right: 2px;

}


.nav_first {
  margin-right: 7px;
  font-size: x-large;
}

.left_icon {
 margin-right: 3px;
  margin-top: 5px;
  /* background-color: red; */
}

.humbergur{
  font-size: xx-large;
  margin-right: 6px;
}
			

/***************** Pages ()  ********************************/

.main_container {
  width:72%;
  margin: auto;
  

}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;

}

.button {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 3px;

}

/**************************** Profile ************************/

.profile_container {
  height: 230px;
  width: 72%;
  margin: auto;
}

.color_slip {
  height: 100px;
  width: 100%;
  background: linear-gradient(90deg, #f8aa02,#ffffff,#5b0296ee);
  margin: auto;
}

.profile_img {
  height: 100px;
  width: 100px;
  background-color: red;
  margin: auto;
  border-radius: 50%;
  margin-top: -50px;
}

.image_profile {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.profille_name {
  margin: auto;
  text-align: center;
}

.image_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon_footer {
  align-items: center;
  text-align: center;
  background-color: blue;
}

/************************* Page (Profile,project,Post,Setting) *************************/
.anc_tag{
  width:73%;
  margin: auto;
  margin-bottom: 10px;
  
}
.tag{
  margin-left :15px;
  color: slategray;
  font-weight: 600;
  text-decoration: none;
  font-size: large;
}

.tag:active{
  color:skyblue;
}

/**************************** Cards and AllCards ***********************/
.allCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;

}


.card_box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 720px;
  justify-content: space-evenly;
  margin-right: 5px;
}


.cards {
  width: 345px;
  border: 1px solid slategray;
  border-radius: 5px;
  margin: 5px;
  box-shadow: white;
  box-shadow: 6px 6px 2px  slategray;
}

.card_heading {
  margin: 10px;
  font-weight: 500;
  color: slategray;
  margin-left: 10px;

}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 4px;
  /* background-color: red; */
}

.card_para {
  margin: 10px;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  margin-left:4px;
  padding: 3px;
  /* background-color: blue; */
  margin-top: 8px;
}
.stopWatch{
  font-size: medium;
  font-weight: 300;
}

.copmlete {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}


/******************8 Progress Bar ****************/
.progress_bar {
  border: 1px solid;
  height: 5px;
  width: 330px;
  margin: auto;
  border-radius: 5px;
  background-color:rgb(89, 155, 185);

}

.innerProgress_bar {
  height: 100%;
  background-color: blue;
  width: 45%;
}

.card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.image_footer{
  margin: 5px;
}

/************************ About *********************************/

.about {
  width: 360px;
  border: 1px solid slategray;
  box-shadow: 6px 6px 2px  slategray;
  border-radius: 5px;
  
}

.about_card {
  margin-left: 20px;
  margin-top: 10px;
}

.about_heading {
  border-bottom: 2px dotted black;
  padding-bottom: 10px;
  font-weight: 500;
  color: slategray;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin: 13px;
}

.google {
  width: 210px;
}

.shield {
  width: 225px
}

.flag {
  width: 98px;
}


.contact_heading {
  border-bottom: 2px dotted black;
  padding-bottom: 10px;
  font-weight: 500;
  color: slategray;
}

.call {
  width: 165px;
}

.mail {
  width: 240px;
}

/********************* Social media icon ******************/
.socail_media {

  padding: 10px;
}

.media_icon {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
  /* background-color: red; */
  width:200px;
  margin-bottom:7px;
  
}


/******************************** Media queries for Mobile *********************************/
/**************** here we did work with NavBar, cards and AllCards ***************/ 
 @media screen and (max-width:582px) {

  .nav,
  .nav_second,
  .nav_left {
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: black;
    padding: 5px 0px;
    margin: auto;
    z-index: 1;
    
    
  }
  .nav_second_left{
    display:flex;
    flex-direction: row;
    margin-top: 2px;
  }
 
  .nav_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     width: 100%;
  }
  
  .nav_right {
    background-color: black;
    width: 100%;
    padding: 10px;
    z-index: 1;
    display:flex;
    flex-direction:column;

  }
.nav_icon{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 7px;
  margin-top: 5px;
}
.input_box{
  width: 300px;
}

  
  .allCards,.card_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:5px;
  }
  .cards{
    margin-bottom: 10px;
    width:100%
  }

  .profile_container,.main_container,.color_slip {
    width: 100%;
  }
} 

/******************************** Media queries for I-Pad *********************************/
@media screen and  (max-width:840px) and(min-width:582px) {
  .nav,
  .nav_second,
  .nav_left {
    width:100%;
    background-color: black;
  }

  
  .nav_right,.nav_second {
    display: flex; 
    justify-content: space-between;
    background-color: black;
    width: 100%;
  }
  
  .allCards{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width: 80%;
    padding:5px;
  }
}

@media screen and (min-width:541px) {
  .humbergur{
    display:none;
  }
}
